body{
    min-height: 100%;
    max-width: 1000px;
}
.header{
    font-size: 60px;
    color: tomato;
    padding: 1rem 2rem 0 0;
}
.top_nav{
    color: lightgray;
}
.sub_header{
    font-size: 30px;
    margin-top: 10px;
}
.part1{
    border-bottom: 2px solid lightgray;
    margin-bottom: 70px;
}
.part2{
    border-bottom: 2px solid lightgray;
}
.subtitle{
    font-size: 40px
}
.dates{
    font-size: 50px;
    color: lightgray;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 4px;
    color: lightgray;
    
}
p:first-letter{
    font-size: 100px;
    color: lightgray;
    float: left;
    margin-right: 10px;
  }
  .bottom_nav{
      color: tomato;
      border-left: 2px solid lightgray;
      padding: 15px;
  }
  .bottom_nav:first-child{
      border-left: none;
  }
  .font{
    display: flex;
    justify-content: flex-end;
    color: tomato;
    font-size: 25px;
    padding-bottom: 20px;
  }
  .font_fam{
      font-family: Arial, Helvetica, sans-serif;
  }
  span{
      color: lightgray;
  }
  #date{
      color: lightgray;
  }